@use 'global' as *;

.top-blog {
  @include mq('md') {
    background-image: url(../images/common/top-blog-bg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    // background-position: center;
    z-index: -1;
    height: 60.1684%;
    padding-top: rem(100);
    content: '';
    width: 100%;
  }
}
.top-blog__cards {
  margin-top: rem(24);
  @include mq('md') {
    margin-top: rem(80);
  }
}

.top-blog__button {
  margin-top: rem(40);
  text-align: center;
  @include mq('md') {
    margin-top: rem(80);
  }
}
