@use 'global' as *;

.top-blog {
  @include mq('md') {
    background-image: url(../images/common/top-blog-bg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    height: 60.1684%;
    padding-top: rem(95);
    content: '';
    width: 100%;
  }
}

.top-blog__inner {
  position: relative;
}

.top-blog__inner::after {
  @include mq('md') {
    position: absolute;
    content: '';
    background-image: url(../images/common/fish-left-white.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: rem(437);
    height: rem(201);
    left: 0;
    top: -6%;
  }
  @include mq('lg') {
    left: -5%;
    top: -10%;
  }
}
.top-blog__inner.inner {
  padding: 0 rem(21);
}
.top-blog__cards {
  margin-top: rem(24);
  @include mq('md') {
    margin-top: rem(80);
  }
}

.top-blog__button {
  margin-top: rem(40);
  text-align: center;
  @include mq('md') {
    margin-top: rem(80);
  }
}
