@use 'global' as *;

.swiper-slide {
  height: auto;
}

.top-campaign-swiper__swiper-slide a {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.top-campaign__swiper-container {
  overflow-x: hidden;
  background-color: transparent;
}

.top-campaign__swiper {
  margin-right: calc(50% - 50vw);
  width: 100vw;
}

.top-campaign-swiper__swiper-slide {
  max-width: 333px;
}

.top-campaign-swiper__swiper-slide a {
  width: 100%;
  display: block;
}
.top-campaign-swiper__item {
  height: 100%;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);
  @include mq('md') {
    //  max: width 333px; ;
  }
}

.top-campaign-swiper__body {
  padding: 14px 14px 24px;
  height: 100%;
  @include mq('md') {
    padding: 24px 16px 40px;
  }
}

.top-campaign-swiper__tag {
  border: 1px solid $lightGreen;
  padding: 4px 12px;
  width: 100%;
  max-width: 108px;

  font-family: $third-font-family;
  font-size: 12px;
  font-weight: $regular;
  line-height: 1.8333;
  color: $lightGreen;
  @include mq('md') {
    padding: 6px 16px;
  }
}

.top-campaign-swiper__title {
  font-family: $third-font-family;
  color: $darkGreen;
  font-size: 16px;
  line-height: 1.5;
  font-weight: $medium;
  margin-top: 4px;
  border-bottom: 1px solid $lightGreen;
  padding-bottom: 8px;
  @include mq('md') {
  }
}
.top-campaign-swiper__text {
  font-family: $third-font-family;
  font-size: 14px;
  line-height: 1.714;
  color: $darkGreen;
  font-weight: $regular;
  text-align: center;
  margin-top: 8px;

  @include mq('md') {
    margin-top: 16px;
  }
}

.top-campaign-swiper__price-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 6.451612903%;
}

.top-campaign-swiper__price-sub {
  color: $darkGreen;
  font-family: $second-font-family;
  font-size: 20px;
  font-weight: $bold;
  line-height: 1;
  text-decoration: line-through;
  text-decoration-color: $red;
  text-decoration-thickness: 3px;
  display: flex;
  align-items: center;
  @include mq('md') {
    font-size: 24px;
  }
}

.top-campaign-swiper__price-main {
  font-family: $second-font-family;
  font-size: 32px;
  font-weight: $bold;
  line-height: 1;
  color: $lightGreen;
  @include mq('md') {
    font-size: 40px;
  }
}

.top-campaign-swiper__button {
  text-align: center;
  margin-top: 40px;
  @include mq('md') {
    margin-top: 78px;
  }
}
// .top-campaign-swiper__img {
//   width: 100%;
//   height: auto;
//   @include mq('md') {
//   }
// }
// .top-campaign-swiper__img img {
//   aspect-ratio: 280 / 188; /* 16:9のアスペクト比 */

//   object-fit: cover;
//   width: 100%;
//   height: auto;

//   @include mq('md') {
//     aspect-ratio: 334 / 223;

//   }
// }
